@page
@model PersonalFinance.Pages.Customers.TransactionsModel
@using PersonalFinance.Domain 
@{
    ViewData["Title"] = "Transactions";
}

<h1>Transactions</h1>

<form asp-page="/Customers/Transactions" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="filterString"/>
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="/Customers/Transactions" asp-route-filterString="">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="/Customers/Transactions" asp-route-sortString="@Model.DateSort">Date</a>
            </th>
            <th>
                <a asp-page="/Customers/Transactions" asp-route-sortString="@Model.CurrencySort">Currency</a>
            </th>
            <th>
                <a asp-page="/Customers/Transactions" asp-route-sortString="@Model.AmountSort">Amount</a>
            </th>
            <th>
                <a asp-page="/Customers/Transactions" asp-route-sortString="@Model.DescriptionSort">Description</a>
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerTransactions)
        {
            string cur = Enum.GetName(typeof(Currency), item.Currency);


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <form asp-action="Transactions" method="post">
                    <input type="hidden" name="transactionId" value="@item.Id" />
                    <input type="submit" asp-page-handler="EditTransaction" value="Edit" class="btn btn-secondary" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
